<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <tbody>
      <% @songs.each do |song| %>
        <tr>Title: <%= song.title %></tr>
      <% end %>
    </tbody>


  </body>
</html>
